$nav-height: 50px;
$content-width: 625px;
$red: rgb(214, 79, 79);

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.content {
    padding-top: 20px;
    height: 100%;
    width: $content-width;
    margin: 0 auto;
}

.nav {
    width: 100%;
    color: white;
    // z-index: 99;
    // position: fixed;
    top: 0;
    height: $nav-height;
    background-color: rgba(67, 67, 67, 1);
    border-bottom: 1px rgb(184, 184, 184) solid;

    li {
        line-height: $nav-height;
    }
}

.v-margin {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

// remove default styling
.my-ul {
    margin: 0;
    padding-left: 0px;
    list-style-type: none;
}

.box {
    padding: 20px;
    border: 1px rgb(184, 184, 184) solid;
}

.center {
    margin: 0 auto;
}

.no-border {
    border: none;
}

.half-width {
    width: $content-width / 2 - 50px;
}

.right-half {
    float: right;
}

.left-half {
    float: left;
}

.clear-float {
    clear: both;
}

.ingredients {
    li {
        padding-left: 20px;
        line-height: 1.5em;
    }
}

.h1 {
    font-weight: 700;
    text-align: center;
    font-size: 28px;
}

.h2 {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

.h4 {
    font-weight: 700;
}

.small-caps {
    font-variant: small-caps;
}

.float-right {
    float: right;
}

.p {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.q-width {
    width: 5ch;
    text-align: right;
}

.unit-width {
    widows: 4ch;
    margin-right: 5px;
    margin-left: 5px;
}

.inline-block {
    display: inline-block;
}

.number-circle {
    display: inline-block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: $red;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.btn {
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px #ab3c3c;
    outline: none;
    background-color: $red;
    display: block;
    padding: 25px 40px;
    margin: 30px auto;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    position: relative;
    &:hover {
        box-shadow: 0 4px #ab3c3c;
        top: 2px;
    }

    &:active {
        box-shadow: 0 0 #ab3c3c;
        top: 6px;
    }
}

.fullscreen {
    height: 100%;
    width: 100%;
}

.overlay {
    top: -100%;
    position: absolute;
    z-index: 9999;
    color: #eee8d5;
    background-color: #002b36;
    transition: 1000ms;
}

.step {

}